<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Listner Test Suite">
<listeners>
<listener class-name="com.TestNG.ListnerTestNG"></listener>
</listeners>
  <test name="Test">
  <classes>
  <class name="com.TestNG.ListnerTestClass"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
